In [2]:
import pandas as pd
from common.preprocessing.dataframe import *
import os

In [3]:
DATA_SOURCE = "../data/protein/cgan/data_sources/augmented_2018_10_16.csv"

## Loading file

In [11]:
data = pd.read_csv(DATA_SOURCE, sep='\t', skipinitialspace=True) 
len(data)

412769

In [19]:
data = data.rename(columns={"EC class":"EC number"})

In [20]:
data.head()

                                            Sequence EC number
0  MQGFKIARHFELPTAPSQFFAGSSLNRLSFLRSNREFLNKAFYDHT...  3.6.1.22
1  MDRIIEKLDHGWWVVSHEQKLWLPKGELPYGEAANFDLVGQRALQI...  3.6.1.22
2  MSARWTTAVLDPQITGGLAVARSPDGFLVDANGALFPRDWLKRQDL...  3.6.1.22
3  MDRIIEKLDHGWWVVSHEQKLWLPKGELPYGEAANFDLVGQRALQI...  3.6.1.22
4  MSARWTTAVLDPQMTGGLAVARSPEGFLVDANGALFPRDWLKRQDL...  3.6.1.22

In [28]:
data.groupby("EC number").count().head()

           Sequence
EC number
3.1.1.1        1215
3.1.1.10         35
3.1.1.101         5
3.1.1.2        1780
3.1.1.3        1739

## Cleaning

In [22]:
filtered_data = data[data["EC number"].notnull()]
print(len(filtered_data))
filtered_data = filter_non_standard_amino_acids(filtered_data, "Sequence")
print(len(filtered_data))
filtered_data = filtered_data.drop_duplicates()
print(len(filtered_data))
filtered_data = filtered_data[filtered_data.Sequence.str.startswith('M')]
print(len(filtered_data))

412769
409900
409900
409900

In [120]:
# filtered_data = split_dataframe_list_to_rows(filtered_data, "EC number", "; ")
# len(filtered_data)

2324308

In [12]:
# filtered_data = filtered_data[(filtered_data["EC number"].str.startswith("3.")) | 
#                               (filtered_data["EC number"].str.startswith("4.")) | 
#                               (filtered_data["EC number"].str.startswith("6.")) ]

## Saving down

In [25]:
filtered_data.to_csv(DATA_SOURCE, sep="\t", index=None)

In [27]:
filtered_data.shape

(409900, 2)